@media (max-width: 1360px) {
  .container {
    width: 1200px;
  }

  .simplebar-track.simplebar-horizontal {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 95px;
  }

  .s_title::before {
    width: 240px;
    height: 240px;
    top: -80px;
    right: -35px;
  }

  .s_title::after {
    right: 233px;
    bottom: -30px;
    width: 72px;
    height: 72px;
    border: 15px solid #F8D72F;
  }

  .title {
    padding: 40px 0;
  }
  .title h1 {
    font-size: 36px;
    line-height: 49px;
  }
  .title p {
    font-size: 14px;
    line-height: 19px;
  }

  .grid_specialists {
    grid-template-columns: repeat(3, 1fr);
  }

  .specialist {
    padding: 13px;
  }
  .specialist img {
    height: 290px;
  }
  .specialist a.btn {
    display: none;
  }

  .padding {
    padding-bottom: 20px;
    margin: 0 auto;
  }
  .padding:hover {
    transform: translateY(0px);
    padding-bottom: 20px;
  }
  .padding:hover .specialist {
    padding-bottom: 12px;
  }

  .photo {
    margin-right: 20px;
  }
  .photo img {
    height: 320px;
    width: 225px;
  }

  .info_specialist h2 {
    font-size: 30px;
    line-height: 41px;
  }
  .info_specialist h3 {
    font-size: 18px;
    line-height: 25px;
  }

  .block_mini_info {
    margin-bottom: 10px;
  }
  .block_mini_info p {
    font-size: 16px;
    line-height: 22px;
    padding: 9px 15px;
    margin-right: 10px;
  }
  .block_mini_info p span {
    font-size: 16px;
    line-height: 22px;
  }

  .info_1 h4 {
    font-size: 14px;
    line-height: 19px;
    margin-top: 0;
  }
  .info_1 p {
    font-size: 14px;
    line-height: 19px;
  }

  .inner_specialists {
    margin-top: 40px;
  }
  .inner_specialists h4 {
    font-size: 30px;
    line-height: 41px;
  }

  .slider .padding {
    padding-top: 30px;
  }

  .news_grid {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    align-items: stretch;
  }

  .news_1 {
    width: 256px;
    height: 395px;
  }
  .news_1:hover {
    border: 1px solid #FFFFFF;
  }
  .news_1:hover .news_text a.arrow_btn {
    opacity: 0.2;
  }
  .news_1:hover:before {
    display: none;
  }
  .news_1:hover img {
    filter: blur(0px);
  }
  .news_1:hover a.btn {
    z-index: 0;
    opacity: 0;
  }
  .news_1:hover .news_text {
    background: #00060C;
  }

  .news_text {
    padding: 15px 17px 17px;
    height: 30%;
  }

  .news_all {
    padding: 40px 0 70px;
  }

  .similar_news h4 {
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 30px;
  }

  .news_block_text {
    padding: 40px 0;
  }

  .grid_servise .servise {
    padding: 20px 16px;
  }

  .servise_all {
    padding: 40px 0 60px;
  }

  .s_title.servise:after {
    right: 223px;
    bottom: -35px;
    top: auto;
  }
  .s_title.servise .logo_servise {
    width: 240px;
    height: 240px;
    top: -80px;
    right: -40px;
    justify-content: flex-start;
  }
  .s_title.servise .logo_servise img {
    width: 100px;
    margin-left: 58px;
    margin-top: 24px;
  }

  .news_block_text p {
    font-size: 14px;
    line-height: 19px;
  }

  .categories a {
    padding: 10px 40px;
    margin-right: 15px;
  }
  .categories span {
    padding: 10px 40px;
    margin-right: 15px;
  }

  .grid_cat a img {
    height: 270px;
    width: 100%;
  }
  .grid_cat a h3 {
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
  }
  .grid_cat a p {
    font-size: 12px;
    line-height: 16px;
  }
  .grid_cat a span {
    font-size: 14px;
    line-height: 19px;
  }

  .simplebar-track.simplebar-horizontal {
    max-width: calc(100% - 190px);
  }

  .cat_1.reviews .grid_cat img {
    height: 320px;
  }

  .gradient:after {
    width: 70px;
    height: 70px;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
  }

  .about_us p {
    font-size: 14px;
    line-height: 19px;
  }

  .slider_reviews .grid_cat a img {
    height: 300px;
    width: 360px;
  }

  .contact_grafic a {
    font-size: 18px;
    line-height: 25px;
  }

  .slider_reviews .slick-arrow.slick-prev {
    left: 33%;
  }

  .slider_reviews .slick-arrow.slick-next {
    left: calc(33% + 120px);
  }
}
@media (max-width: 991px) {
  .container {
    padding: 0 40px;
  }

  .news_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .news_1 {
    margin: 0 auto;
  }

  .similar_news .news_1 {
    margin: 0;
    margin-left: 20px;
  }

  .grid_servise {
    grid-template-columns: repeat(3, 1fr);
  }

  .simplebar-track.simplebar-horizontal {
    max-width: calc(100% - 80px);
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .s_title::before {
    width: 122px;
    height: 122px;
    top: -20px;
    right: -75px;
  }

  .s_title::after {
    right: 32px;
    bottom: -19px;
    width: 43px;
    height: 43px;
    border: 10px solid #F8D72F;
  }

  .title {
    padding: 30px 0;
    width: 100%;
  }
  .title h1 {
    font-size: 24px;
    line-height: 33px;
  }
  .title p {
    font-size: 12px;
    line-height: 16px;
    width: 100%;
  }

  .grid_specialists {
    grid-template-columns: repeat(2, 1fr);
  }

  .doctor .container {
    display: block;
  }

  .photo {
    margin: 0 auto;
  }
  .photo img {
    width: 280px;
    height: 320px;
  }

  .info_1 h4 {
    width: 40%;
  }
  .info_1 p {
    width: 50%;
  }

  .block_mini_info {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .inner_specialists {
    margin-top: 30px;
  }
  .inner_specialists h4 {
    font-size: 24px;
    line-height: 33px;
  }

  .similar_news h4 {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 20px;
  }

  .news_block_text {
    padding: 20px 0 40px;
  }

  .grid_servise {
    grid-template-columns: repeat(2, 1fr);
  }

  table tr td {
    font-size: 14px;
    line-height: 19px;
    width: 60%;
  }
  table tr th {
    font-size: 16px;
    line-height: 22px;
    width: 40%;
  }

  .contact .container {
    display: block;
  }
  .contact .contact_grafic {
    width: 100%;
    margin-bottom: 40px;
  }
  .contact .contact_grafic h2 {
    font-size: 30px;
    line-height: 41px;
  }
  .contact .contact_grafic p {
    font-size: 14px;
    line-height: 19px;
  }
  .contact .contact_grafic a {
    font-size: 17px;
    line-height: 23px;
  }
  .contact .form {
    width: 100%;
  }

  .grafic_1 h3 {
    font-size: 18px;
    line-height: 25px;
  }
  .grafic_1 h4 {
    font-size: 18px;
    line-height: 25px;
  }
  .grafic_1 h4 span {
    font-size: 18px;
    line-height: 25px;
  }

  .name input {
    max-width: 100%;
  }

  .tel_mail input {
    max-width: 100%;
  }

  .s_title.servise .logo_servise {
    width: 122px;
    height: 122px;
    top: -25px;
    right: -75px;
  }
  .s_title.servise:after {
    right: 31px;
    bottom: -17px;
  }

  .tel a {
    margin-right: 0;
  }
  .tel a:nth-child(1) {
    margin-right: 10px;
  }

  .grafic_1 h3 {
    width: 30%;
  }

  .grid_cat {
    grid-template-columns: repeat(2, 1fr);
  }

  .simplebar-track.simplebar-horizontal {
    max-width: calc(100% - 40px);
  }

  .slider_reviews {
    width: 100%;
  }
  .slider_reviews .grid_cat {
    margin-right: 0;
  }
  .slider_reviews .grid_cat a img {
    height: 300px;
    width: 100%;
  }

  .grid_cat .cat_bottom {
    filter: none;
    background: transparent;
  }

  .about_reviews {
    background-size: 100% 100% !important;
  }

  .block_text_img {
    display: flex;
    flex-direction: column-reverse;
  }
  .block_text_img .about_photo {
    width: 100%;
    margin: 0;
  }
  .block_text_img .about_text {
    width: 100%;
  }

  .about_us {
    padding-top: 20px;
  }
  .about_us img {
    height: 200px;
  }

  .slider_reviews .slick-arrow.slick-prev {
    left: calc(50% - 160px);
  }

  .slider_reviews .slick-arrow.slick-next {
    right: calc(50% - 160px);
    left: auto;
  }

  .slider_reviews .slick-arrow {
    width: 150px;
    height: 50px;
  }

  .s_404 img {
    width: 100%;
  }
  .s_404 h2 {
    margin-top: -30px;
  }
  .s_404 a.btn {
    width: 140px;
    padding: 15px 0;
  }
}
@media (max-width: 560px) {
  .grid_specialists {
    grid-template-columns: repeat(1, 1fr);
  }

  .specialist {
    padding: 13px;
    width: 320px;
  }
  .specialist img {
    height: auto;
  }

  .s_title {
    background-position: bottom !important;
    background-size: cover !important;
  }

  .page_number {
    position: relative;
    padding-bottom: 70px;
    justify-content: space-between;
  }
  .page_number a.arows {
    position: absolute;
    width: 40%;
  }
  .page_number a.arows img {
    width: 80px;
  }
  .page_number a.arows.left {
    bottom: 0;
    left: 4%;
  }
  .page_number a.arows.right {
    bottom: 0;
    right: 4%;
  }
  .page_number a, .page_number span {
    height: 50px;
    width: 50px;
  }

  .slider .padding {
    padding-top: 20px;
  }

  .block_mini_info p {
    font-size: 14px;
    line-height: 19px;
  }

  .info_1 h4 {
    font-size: 12px;
    line-height: 16px;
  }
  .info_1 p {
    font-size: 12px;
    line-height: 16px;
  }

  .btn_all a.btn {
    padding: 15px 25px;
  }

  .news_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .news_1 {
    width: 100%;
    height: 390px;
  }

  .news_all {
    padding: 30px 0 70px;
  }

  .progress {
    display: block;
  }

  .similar_news .slider {
    margin-bottom: 20px;
  }
  .similar_news .news_1 {
    margin: 0;
  }

  .similar_news .slider .slick-arrow {
    bottom: -24.5%;
  }

  .grid_servise {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
  .grid_servise .servise {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding: 20px 20px 40px;
  }

  .servise_all {
    padding: 0 0 74px;
  }

  .grid_cat {
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .grid_cat a img {
    height: 320px;
  }

  .categories a {
    padding: 10px 30px;
  }

  .cat_1.reviews .grid_cat img {
    height: 340px;
  }

  .cat_1.reviews .grid_cat {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }

  .slider_reviews {
    padding-bottom: 90px;
  }

  .slider_reviews .slick-arrow {
    bottom: 25px;
  }
}